* {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
}

body {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

body {
  background-color: #191919;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.applepodcasts-svg {
  background-color: #832BC1;
  border-radius: 15%;
}

.sondcloud-svg {
  border-radius: 15%;
}

.underlined-text {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.strong-text {
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.header {
  padding: 26px 0;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  fill: #FFFFFF;
}
.header-logo:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #118DA8;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.nav-item {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #FFFFFF;
}
.nav-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #118DA8;
}

.section-hero {
  padding: 40px 0;
}
.section-hero-img {
  width: 650px;
  height: 873px;
}

.hero-wrap {
  min-width: 530px;
  min-height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.hero-title {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin-bottom: 90px;
}

.hero-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  max-width: 530px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  max-width: 245px;
  margin-top: 16px;
}

.blog {
  padding-top: 100px;
  padding-bottom: 160px;
}
.blog-title {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}
.blog-button {
  width: 178px;
  height: 51px;
  border-radius: 6px;
  background-color: #118DA8;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
}
.blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  margin-bottom: 40px;
}
.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.blog-item {
  width: 1300px;
  height: 545px;
  background-color: #000000;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}
.blog-article-img {
  width: 389px;
  height: 432px;
  margin-right: 53px;
}
.blog-article-category {
  max-width: 136px;
  height: 27px;
  border-radius: 6px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 7px;
}
.blog-article-episode {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #118DA8;
  margin-top: 48px;
  margin-bottom: 18px;
}
.blog-article-title {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 57px;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  margin-bottom: 28px;
}
.blog-article-description {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.blog-article-button {
  width: 208px;
  height: 51px;
  border-radius: 6px;
  background-color: #118DA8;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}

.biography {
  padding: 100px;
}
.biography-button {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #118DA8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.biography-pre-description {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #118DA8;
}
.biography-description {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 28px;
}
.biography-title {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 65px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}
.biography-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.biography-wrap {
  max-width: 590px;
  max-height: 448px;
}
.biography-img {
  width: 650px;
  height: 743px;
  border-radius: 12px;
}

.newsletter {
  padding: 100px 0;
}
.newsletter-wrap {
  width: 1300px;
  height: 387px;
  border-radius: 32px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}
.newsletter-desc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.newsletter-description {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #118DA8;
  text-align: left;
}
.newsletter-title {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  text-align: left;
  max-width: 431px;
}
.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.newsletter-form-input {
  width: 522px;
  height: 82px;
  opacity: 1;
  top: 0.13px;
  border-radius: 6px;
  border-width: 1px;
  background-color: #191919;
  border: none;
}
.newsletter-form-input::-webkit-input-placeholder {
  padding-left: 20px;
}
.newsletter-form-input::-moz-placeholder {
  padding-left: 20px;
}
.newsletter-form-input:-ms-input-placeholder {
  padding-left: 20px;
}
.newsletter-form-input::-ms-input-placeholder {
  padding-left: 20px;
}
.newsletter-form-input::placeholder {
  padding-left: 20px;
}
.newsletter-form-button {
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 28.8px;
  letter-spacing: 0%;
  width: 87px;
  height: 48px;
  opacity: 1;
  top: 204.13px;
  border-radius: 6px;
  background-color: #118DA8;
  color: rgba(255, 255, 255, 0.7);
}

.reviews {
  padding: 100px;
}
.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.reviews-item {
  width: 423px;
  height: 321px;
  border-radius: 32px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}/*# sourceMappingURL=main.css.map */