.biography {
    padding: 100px;
    margin-bottom: 100px;

    &-button {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        background-color: #118DA8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &-pre-description {
        font-family: DM Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0%;
        color: #118DA8;
    }

    &-description {
        font-family: DM Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0%;

        color: rgba(255, 255, 255, 0.7);
        margin-top: 28px;
    }

    &-title {
        font-family: DM Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 65px;
        line-height: 79.2px;
        letter-spacing: 2.88px;
    }

    &-flex-wrap {
        display: flex;
        justify-content: center;
        align-items: center;


        gap: 60px;
        border: 1px solid black;
    }

    &-wrap {
        max-width: 590px;
        max-height: 448px;
        border: 1px solid black;

    }
}