.footer {
    padding: 100px 0 120px 0;

    .community-svg {
        fill: #FFFFFF;
        @extend %svg-hover;
    }

    &-logo {
        fill: #FFFFFF;
        @extend %svg-hover;
    }

    &-flex-wrap {
        display: flex;
        justify-content: space-around;
    }

    &-community-wrap {
        display: flex;
        flex-direction: column;
    }

    .community-list {
        display: flex;
        gap: 12px;
        margin-top: 20px;
    }

    .community-svg {
        fill: rgba(255, 255, 255, 1);
    }

    &-nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-links-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-links-link {
        @extend %links-hover;
    }

    &-nav-link {
        @extend %links-hover;
    }
}