.header {
    padding: 26px 0;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        fill: #FFFFFF;

        &:hover {
            transition: 0.5s;
            fill: #118DA8;
        }
    }


}

.nav {
    &-list {
        display: flex;
        justify-content: center;
        gap: 40px;

    }

    &-item {
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 0%;
        color: #FFFFFF;

        &:hover {
            transition: 0.5s;
            color: #118DA8;
        }
    }
}