.section {
    &-hero {
        padding: 40px 0;

        &-img {
            width: 650px;
            height: 873px;
        }
    }

}

.hero {
    &-wrap {
        min-width: 530px;
        min-height: 610px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

    }
}

.hero-title {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 90px;
}

.hero-flex-wrap {
    display: flex;
    gap: 60px;
    max-width: 530px;
}

.services-list {
    display: flex;
    align-items: center;
    gap: 17px;
    max-width: 245px;
    margin-top: 16px;
    
}