%button-hover {
    transition: background-color 0.5s ease;

    &:hover {
        border: 1px solid #FFFFFF;
        background-color: transparent;

    }
}

%links-hover {
    transition: color 0.5s ease;

    &:hover {
        transition: 0.5s;
        color: #118DA8;
    }
}

%svg-hover {
    transition: fill 0.5s ease;

    &:hover {
        transition: 0.5s;
        fill: #118DA8;
    }
}